/* Whites */
$alabaster: #fafafa;
$zircon: #fdfeff;

/* Blacks */
$silver: #c1c1c1;
$tundora: #404040;
$gray: #404040;

/* Blues */
$denim: #138cd3;

/* Greens */
$apple: #409738;
$panache: #f1f9f2;

/* Reds */
$red: #ef5455;
